
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Pp]lugins/
GooglePlayGames/
PlayServicesResolver/
Plugins/
GPGServices/
GP/
PaddleForce/
Assets/AssetStoreTools*

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.aab
*.apk
.vs

*.pidb.meta

sysinfo.txt

*.apk
*.unitypackage